#root:empty {
    position: absolute;
    top: calc(50% - 4em);
    left: calc(50% - 4em);
    width: 6em;
    height: 6em;
    border: 1.1em solid rgba(0, 0, 0, 0.2);
    border-left: 1.1em solid #000000;
    border-radius: 50%;
    animation: load8 1.1s infinite linear;
  }
  
  @keyframes load8 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.logo{
    color: #FFF;
}

.fitness-center{
    cursor: pointer;
}

.fitness-center-name{
    font-weight: 900;
}

.fitness-center-facilities{
    font-size: 12px;
}

.fitness-center-filters-checkbox {
    display: block;
}

.fitness-center-filters-checkbox + .fitness-center-filters-checkbox {
    margin-left: 0px;
}

.fitness-center-marker{
    cursor: default;
}

.gm-style-iw.gm-style-iw-c button.gm-ui-hover-effect{
    display: none!important
}

.geolocation_info{
    margin-top: 5px;
    color: brown;
}

.geolocation_btn{
    text-align: center;
    margin-top: 10px;
    height:30px;
}

.geolocation_btn.ant-btn-primary{
    margin-right: 5px;
}

.autocomplete-dropdown-container{
    position: absolute;
    z-index: 99999;
    border: 1px solid #CCC;
}

.autocomplete-dropdown-container .suggestion-item{
    padding: 10px;
    border-bottom: 1px solid #CCC;
    background: #FFF;
    cursor: pointer;
}